* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: visible;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: white;
  padding: 10px 13px 10px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}


.div-menu {
  flex: 0 0 10vw;
  background-color: white;
  max-width: 80px;
  display: flex;
  align-items: center;

  background-color: white;
  flex-direction: column;
}

.div-1 {
  flex: 0;
  width: 10vw;  
  align-items: left;
  justify-content: center; 
  min-width: 100px;
  max-width: 150px;
}

.div-2 {
  flex: 1;
  justify-content: center;
  max-width: 600px;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

.div-3 {
  flex: 1;
  width: 10vw;
  min-width: 150px;
  justify-content: flex-end;
  max-width: 250px;
  display: flex;
  align-items: center;
  
}

.menu {
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a, .voice a, .notification a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.menu:hover, .voice:hover, .notification:hover, .user:hover {
  background-color: #f0f0f0;
  border-radius: 25px;
}

.logo {
  width: auto; 
  height: 40px; 
  display: grid;
  place-items: center;
}
.logo img {
  width: auto;
  height: 20px;
  display: block;
}

.link-no-style span {
  text-decoration: none !important;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;           
  margin-left: 0px;
  font-weight: 550;
  font-size: 24px;
  color: #000;
  letter-spacing: -3px;
}
#logo-span sup {
  font-size: 12px;
  position: relative;
  top: -8px;
  margin-bottom: -6px;
  color: gray ;
}

    .search-bar {
      flex: 1;
      margin: 0 5px 0 20px;
      display: flex;
      max-width: 900px;
      height: 35px;
      border-radius: 20px ;
    }

    .search-wrapper {
      flex: 1;
      margin: 0 5px 0 20px;
      display: flex;
      max-width: 600px;
      min-width: 400px;
      height: 35px;
      border-radius: 20px ;
    }

    .search-bar input {
      flex: 1;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 20px 0 0 20px ;
      min-width: 0px;
    }

    .search-bar button {
      padding: 5px 18px;
      border: 1px solid #ccc;
      border-left: none;
      background-color: #eee;
      cursor: pointer;
      border-radius: 0 20px 20px 0 ;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-bar button:hover, .voice:hover, .create:hover, .notification:hover, .user:hover {
      background-color: #ddd;
    }

    .voice {
      width: 35px;
      height: 35px;
      background-color: #eee;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-color: #ccc;
    }
    .create {
      margin-right: 15px;
      background-color: #eee;
      padding: 3px 10px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
  }

  .create a {
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
    white-space: nowrap;
  }

  .create a:visited {
    color: black;
  }

  .create img {
    display: block;
  }

.user {
  height: 35px;
  width: 35px;  
  background-color: white;
  cursor: pointer;
  margin-left: 20px
}

.no-underline {
  text-decoration: none !important;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1 1 600px;   
  justify-content: center; 
  min-width: 320px;   
  box-sizing: border-box;
  }

.container {
      display: flex;
    }

    .sidebar {
      width: 10vw;
      background-color: white;
      max-width: 80px;
      min-height: calc(100vh - 50px);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    .sidebar a {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
      color: black;
      text-decoration: none;
      overflow: visible;
      display: block;
      padding: 10px 5px;
      color: black;
      text-decoration: none;
    }

    .sidebar a:hover {
      width: 50px;
      height: 60px;
      background-color: #f0f0f0;
      border-radius: 10px;
    }

    .sidebar-icons {
      width: 50px;
      height: 60px;
      flex-shrink: 0;
      justify-content: center;
      display: flex;
      overflow: visible;
    } 

    .sidebar .label {
      text-align: center;
      letter-spacing: -1px;
      display: inline-block;
      font-size: 10px;
    }

    #subscriptions-icon .label{
      max-width: 50px;
      font-size: 12px;
    }

    main {
      flex: 1;
      padding: 10px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .video-wrapper {
      background-color: white;
      border-radius: 6px;
      overflow: hidden;
      text-decoration: none;
      transition: transform 0.3s ease;

    }

    .video-wrapper:hover {
      transform: scale(1.05);
      background-color: #ddd;
      box-shadow: 0 0 0 10px rgba(221,221,221, 1);
      border-radius: 6px;
      overflow: visible;
      z-index: 9999 ;
    }

    .thumbnail {
      width: 100%;
      height: 160px;
      object-fit: cover;
      background-color: #ccc;
      border-radius: 6px;
      overflow: hidden;
    }

    .video-info {
      padding: 0 10px;
    }

    .video-info h3 {
      font-size: 18px;
      margin: 5px 0;
      color: #0f0f0f;
    }

    .video-info h4 {
      font-size: 14px;
      color: #767676;
      margin: 0;
      font-weight: bold ;
    }

    .video-info h5 {
      font-size: 14px;
      color: #767676 ;
      margin: 0;
      font-weight: normal ;
    }